body{
  background: url(nice.png) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}
.content{
  display: flex;
  justify-content: space-around;
}
.title{
  text-align: center;
  font-size: 80px;
  font-family: STHupo;
  text-decoration: underline;
  margin-top: 20px;
  background: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.title:hover{
  background: linear-gradient(to right, green, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.list{
  display: flex;
  flex-direction: column;
  border: 4px solid red;
  font-family: fantasy;
  font-size: 30px;
  padding: 1%;
  align-items: center;
  width: 60%;
}

.item{
  border: 2px solid blue;
  background-color: rgb(111, 218, 111);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.name{
  font-size: 50px;
  font-family: STHupo;
  color: yellow;
}
.score{
  font-size: 60px;
  font-family: STxingkai;
  color: red;
}

.New{
  width: 30%;
  margin-top: 1%;
  margin: 5%;
}
.input{
  border: 3px solid green;
  font-size: 20px;
  font-family: KaiTi;
  width: 80%;
  margin-right: 5%;
}
.input:focus{
  border: 5px solid lightcoral;
}
.newbtn{
  float: right;
  margin-top: 5%;
}
